<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    New
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Search</a>
    <a class="dropdown-item" href="#">Showroom</a>
    <a class="dropdown-item" href="#">2020 Corvete</a>
    <div class="dropdown-divider"></div>
    
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Used
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Search</a>
    <a class="dropdown-item" href="#">Under 12K</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Trade in</a>
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Finance
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Apply for Credit</a>
    <a class="dropdown-item" href="#">Plans</a>
    <a class="dropdown-item" href="#">Estimate your Credit Score</a>
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Service
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Repairs</a>
    <a class="dropdown-item" href="#">Tune-up</a>
    <a class="dropdown-item" href="#">Trade in</a>
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    About Us
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Our Story</a>
    <a class="dropdown-item" href="#">Meet the Team</a>
    <a class="dropdown-item" href="#">Hear What People Think About Us</a>
  </div>
</div>
