<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Trucks
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">New</a>
    <a class="dropdown-item" href="#">Used</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Trade in</a>
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Cars
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">New</a>
    <a class="dropdown-item" href="#">Used</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Trade in</a>
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    SUVs
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">New</a>
    <a class="dropdown-item" href="#">Used</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Trade in</a>
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sports Cars
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">New</a>
    <a class="dropdown-item" href="#">Used</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Trade in</a>
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Automotives
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Repairs</a>
    <a class="dropdown-item" href="#">Tune-ups</a>
    <a class="dropdown-item" href="#">Body Shop</a>
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sales
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">About Us</a>
    <a class="dropdown-item" href="#">Meet the Team</a>
    <a class="dropdown-item" href="#">Write a Review</a>
  </div>
</div>
